* {
    font-family: var(--app-font);
    margin: 0;
    padding: 0;
}

body {
    background: var(--app-background-color);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.app-container {
    background: white;
    height: 100vh;
    display: flex;
}

.app-header {
    background: #333;
    color: #EEE;
}

.app-header,
.app-navigation {
    padding: 10px;
}

.app-navigation {
    border-right: var(--navigation-separator-width) solid var(--navigation-separator-color);
    border-bottom: none;
    flex: 1;
}

.app-content {
    flex: 2;
}

@media screen and (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }

    .app-navigation {
        border-bottom: var(--navigation-separator-width) solid var(--navigation-separator-color);
        border-right: none;
    }
}